*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill sans';
  
}
h1{
    font-weight: normal;
}

.shape{
    margin-left: 10px;
    margin-top: 10px;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#circle{
    border-radius: 50%;
}
#circle:hover{
     background-color:blue;
}
#diamond{
    height: 150px;
    width: 150px;
    rotate: 45deg;
    margin-top: 50px;
  translate: 20px;
}
#diamond h1{
    rotate: -45deg;
}
#diamond:hover{
    background-color:green;
}

#square:hover{
    background-color: red;
}
